{% extends 'base.html' %}
{% block title %} About{% endblock title %}
{% block body %}
{#    <div class="container">#}
{#    <p>Hello there! 🙋‍ My name is Prateek , and I'm a regular user of this awesome To-do app.</p>#}
{#    <p>As someone who likes to stay organized and on top of things, this app has been a lifesaver for me</p>#}
{#    <p>With the ability to create, read, update, and delete tasks, this app is the perfect tool for keeping track of my daily to-do list</p>#}
{#    <p> I love the simplicity of the interface and the ease with which I can add new tasks, update their status, and delete them once they're completed.</p>#}
{#    <p>I hope you liked it 🥰🥰🥰</p>#}
{#    </div>#}
         <div class="container">
      <h1>To-Do App</h1>
      <p>Hello there! <span class="emoji">&#128075;</span> My name is Prateek, and I'm a regular user of this awesome To-do app.</p>
      <p>As someone who likes to stay organized and on top of things, this app has been a lifesaver for me <span class="emoji">&#128154;</span></p>
      <p>With the ability to create, read, update, and delete tasks, this app is the perfect tool for keeping track of my daily to-do list <span class="emoji">&#128218;</span></p>
      <p>I love the simplicity of the interface and the ease with which I can add new tasks, update their status, and delete them once they're completed <span class="emoji">&#128077;</span></p>
      <p>I hope you liked it <span class="emoji">&#128525;</span><span class="emoji">&#128525;</span><span class="emoji">&#128525;</span></p>

       <a  href="/"  class="btn btn-dark">Create a Task</a>
    </div>

{% endblock body %}